*{
    padding: 0 !important;
    margin: 0 !important;
}


#plan{
    background-color: #ffffff50;
    /* border: 2px black solid; */
    overflow-x: auto;
}
#plan *{
    border-collapse: collapse;
}

.plan_cell{
    font-size: 12px;
    background-color: white;
    height: 100px;
    width: 70px;
    
}
.plan_cell_double{
    font-size: 12px;
    height: 50px;
    width: 70px;
}
.double1{
    background-color: whitesmoke;
}
.double2{
    background-color: whitesmoke;
}

.cell_border{
    border: 1px black solid;
    border-collapse: collapse;
}


.cell_header{
    height: 20px;
    background-color: #00000020;
    display: flex;
    justify-content: space-around;
}
.cell_body1{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}
.cell_body2{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.day_cell{
    display: flex;
    align-items: center;
    justify-content: center;
}

.idk{
    visibility: hidden;
}
#hours{
    height: 20px;
    width: 100%;
    background-color: #00000020;
}