#list_title{
    text-align: center;
    width: 300px;
    height: 25px;
    background-color: #404040;
    color: #fff;
    position: absolute;
    top: 150px;
    left: 10px;
    padding: 10px;
    margin: 10px 10px 0 10px;
}

#list{
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 175px;
    width: 300px;
    background-color: #ffffff50;
    height: 400px;
    margin: 0 10px 10px 10px;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#list *{
    width: 100%;
    text-align: center;
    color: #000;
    text-decoration: none;
    
}

#list div:first-child{
    border: none;
}

#list > *{
    border-top: 1px #000 solid;
}

#list div{
    margin: 0 10% !important;
    width: 80%;
}

.link{
    text-decoration: none;
}