/* HEIGTH = 110px */

#header{
    width: 100%;
    height: 80px;
    padding: 10px 0;
    background-color: #404040;
    color: #fff;  
    text-align: center;
}
h1{
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-shadow: 5px 5px 5px #000000;
}
#ybar{
    width: 100vw;
    height: 10px;
    background-color: #F2AF5C;
}
#gbar{
    width: 100vw;
    height: 10px;
    background-color: #69BF97;
}
#rbar{
    width: 100vw;
    height: 10px;
    background-color: #D94343;
}