*{
    padding: 0 !important;
    margin: 0 !important;
}

@media only screen and (max-width: 1000px){
    #plan{
        position: absolute;
        top: 100px;
        right: 5px;
        padding: 10px;
        margin: 10px;
        /* background-color: #000; */
        width: 60vw;
        /* height: 600px; */
    }
    
}
@media only screen and (min-width: 1000px){
    #plan{
        position: absolute;
        top: 120px;
        right: 5px;
        padding: 10px;
        margin: 10px;
        /* background-color: #000; */
        width: 70vw;
        /* height: 600px; */
    }
}

#plan{
    border: 2px black solid;
}
#plan *{
    border-collapse: collapse;
}

.plan_cell{
    font-size: 12px;
    background-color: lightblue;
    height: 100px;
    width: 100px;
}
.plan_cell_double{
    font-size: 12px;
    background-color: aquamarine;
    height: 50px;
    width: 100px;
}

.cell_border{
    border: 1px black solid;
    border-collapse: collapse;
}


.subj{
    text-transform: capitalize;
    text-align: center;
    display: inline-block;
    width: 100%;
    float: left;
    
}
.classroom{
    display: inline-block;
    float: left;
}
.group{
    display: inline-block;
    float: right;
}