#form{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 300px;
}
#form *{
  margin: 10px;
}
#form button{
  width: 100px;
}
#form button:hover{
  cursor: pointer;
}
#form input{
  width: 250px;
  padding: 0 25px;
  height: 20px;
}