body{
  width: 100vw;
  height: 100vh;
  background-color: #F3EB9C;
}
*{
  padding: 0;
  margin: 0;
}

#form{
  padding: 25px;
  text-align: center;
  /* background-color: #00000030; */
  width: 500px;
  margin:75px auto;
}
#form *{
  margin: 10px;
}
#form button{
  width: 100px;
}
#form button:hover{
  cursor: pointer;
}
#form input{
  width: 250px;
  padding: 0 25px;
  height: 20px;
}
